ul {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #bcdcf1;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 14px 16px;
  color: #333;
  text-align: center;
  text-decoration: none;
}
li a:hover {
  background-color: #6cd5f0;
}
