.page-tasksList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-tasksList h1 {
  margin: 1em 0 2em 0;
  font-size: 30px;
  color: #154969;
}
.container-tasks {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 5em;
  grid-auto-rows: minmax(120px, auto);
}
.card-task {
  background-color: rgb(224, 231, 238);
  border-radius: 5px;
  padding: 4px;
  font-size: 20px;
}
.card-task h2 {
  text-align: center;
  font-size: 29px;
  color: #154969;
  font-size: 25px;
  margin-bottom: 1em;
}
.container-btn-task {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-tasks div {
  margin: 5px 0 5px 0;
}
.container-mark {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orange-item {
  background-color: #df7b0a;
  color: black;
  border-radius: 3px;
  font-size: 25px;
  margin: 10px 0 10px 0;
  text-align: center;
  padding: 4px;
}
.green-item {
  background-color: #008a00;
  color: white;
  border-radius: 3px;
  font-size: 25px;
  margin: 10px 0 10px 0;
  text-align: center;
  padding: 4px;
}
.red-item {
  background-color: #a50303;
  color: white;
  border-radius: 3px;
  font-size: 25px;
  margin: 10px 0 10px 0;
  text-align: center;
  padding: 4px;
}
.black-item {
  background-color: #131313;
  color: white;
  border-radius: 3px;
  font-size: 25px;
  margin: 10px 0 10px 0;
  text-align: center;
  padding: 4px;
}

/* partie boutons */

.btn-delete-task {
  background-color: #310606;
  border-color: #310606;
  color: white;
  border-radius: 3px;
  margin: 5px 0 2px 0;
  padding: 2px;
}
.btn-delete-task:hover {
  background-color: #9c0202;
  border-color: #9c0202;
  cursor: pointer;
  color: white;
}
.container-edit-btn a {
  background-color: #ddda1f;
  text-decoration: none;
  color: rgb(19, 19, 19);
  border-radius: 3px;
  font-size: 22px;
  margin: 5px 0 5px 0;
  text-align: center;
  padding: 2px;
}
.container-edit-btn a:hover {
  background-color: #c5c210;
}
.container-detail-btn a {
  background-color: #23b6fa;
  text-decoration: none;
  color: rgb(19, 19, 19);
  border-radius: 3px;
  font-size: 22px;
  margin: 5px 0 5px 0;
  text-align: center;
  padding: 2px;
}
.container-detail-btn a:hover {
  background-color: #0a6f97;
}
/* date fin */

#dateEnd {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6px 0 6px 0;
  color: #ee0000;
  font-size: 20px;
  margin: 10px 0 10px 0;
}
#priorityElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6px 0 6px 0;
  color: #e7bd00;
  font-size: 25px;
  font-weight: 900;
  margin: 10px 0 10px 0;
}
/* partie task show */
.title-show-task {
  margin: 1em 0 1em 0;
  font-size: 30px;
  color: #154969;
  text-align: center;
}
.container-task-only {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-task-only div {
  margin: 6px 0 6px 0;
}
/* partie responsive */
@media screen and (max-width: 800px) {
  .container-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
