.title-create-task {
  font-size: 30px;
  text-align: center;
  color: #154969;
  margin: 1em 0 0.5em 0;
}
.card-form-create {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-form-block {
  background-color: rgb(192, 216, 240);
  border-radius: 5px;
  padding: 4px;
  font-size: 20px;
  padding: 5px;
}
.card-form-block form label {
  display: block;
  margin: 10px 2px 5px 0;
}
.card-form-block form input {
  margin: 5px 0 5px 0;
}
.card-form-block form select {
  margin: 5px 0 5px 0;
}
input,
select {
  font-size: 18px;
  padding: 3px;
  border: 1px solid #95cde4;
  border-radius: 5px;
  width: 200px;
  background-color: #fff3f3;
  box-shadow: 1px 1px 2px #c0c0c0 inset;
}
em {
  color: rgb(204, 0, 0);
  font-weight: bold;
}
#block-dateEnd {
  margin-bottom: 10px;
}
#dateEndForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(204, 0, 0);
}
/* btn submit */
.container-btn-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 10px 0;
}
.container-btn-submit button {
  width: 100px;
  margin-left: 5px;
  background-color: rgb(250, 157, 157);
  border-radius: 3px;
  box-shadow: 1px 1px 1px #d83f3d;
  cursor: pointer;
}
.container-btn-submit button:hover {
  background-color: rgb(238, 208, 208);
}
