.page-aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 10px 0;
}
.container-aboutUs {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(192, 216, 240);
  width: 300px;
}
.container-aboutUs h1 {
  font-size: 40px;
  margin: 1em 0 1em 0;
  color: #154969;
  text-decoration: underline;
  text-align: center;
}
.container-aboutUs p {
  text-align: justify;
}
