.container-page-accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-page-accueil h1 {
  font-size: 40px;
  margin: 1em 0 1em 0;
  color: #154969;
  text-decoration: underline;
}
.container-page-accueil h3 {
  font-size: 25px;
  margin: 1em 0 1em 0;
  color: #154969;
}
.part-text {
  text-align: justify;
  font-size: 20px;
}
#btn-List a {
  background-color: #154969;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
#btn-List a:hover {
  background-color: #036daf;
}
#btn-Create a {
  background-color: #08a703;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
#btn-Create a:hover {
  background-color: #004d07;
}
